body {
    padding-top: 50px;
    max-width: 960px;
    min-width: 240px;
    margin: auto;
    margin: auto;
}
h1 {
    text-align: center;
}
.starter-template {
    padding: 40px 15px;
}
form {
    width: 800px;
    max-width: 800px;
}
.alert {
    width: 400px;
    max-width: 400px;
}
.article {
    padding-left: 15px;
    color: #0f0f0f;
    font-size: 14px;
}
.category {
    color: blue;
    font-size: 18px;
    text-decoration: underline;
}
#slider{}
#slider ul, #slider li{
    margin:0;
    padding:0;
    list-style:none;
}
#slider li{
    width:650px;
    height:300px;
    overflow:hidden;
}
#prevBtn, #nextBtn{
    display:block;
    width:30px;
    height:77px;
    position:absolute;

    top:110px;
}
#nextBtn{
    left:651px;
}
#prevBtn a, #nextBtn a{
    display:block;
    width:30px;
    height:77px;
    left: -20px;
    background:url(../img/btn_prev.gif) no-repeat 0 0;
}
#nextBtn a{
    background:url(../img/btn_next.gif) no-repeat 0 0;
}
td {
    padding: 1px 15px;
    color: #8b3c17;
    border-right: darkgrey dashed;
   }