<h3>Pages</h3><br>
<table class="table table-striped" style="width: 400px;" >
  <?php foreach ($data['pages'] as $page_data) { ?>
      <tr>
        <td><b><?=$page_data['title']?></b></td>
        <td align="right">

            <a href="/admin/pages/news/<?=$page_data['id']?>"><button class="btn btn-primary btn-sm">edit news</button> </a>

          <a href="/admin/pages/edit/<?=$page_data['id']?>"><button class="btn btn-primary btn-sm">edit</button> </a>

          <a href="/admin/pages/delete/<?=$page_data['id']?>" onclick="return confirmDelete();"><button class="btn btn-warning btn-sm">delete</button> </a>
        </td>
      </tr>

<?php } ?>


</table>

<br>

<div>
  <a href="/admin/pages/add/"><button class="btn btn-success btn-sm">New Page</button> </a>
</div>