<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Title</title>
</head>
<body>
  <h3>Contact Us: </h3>
  <form action="" method="post">
    <input type="text" class="form-control" name="name" placeholder="Your name"><br>
    <input type="email" class="form-control" name="email" placeholder="Your e-mail"><br>
    <textarea class="form-control" name="message" placeholder="Your message"></textarea><br>
    <button type="submit" class="btn btn-block btn-lg btn-primary">Send</button>
  </form>
</body>
</html>